main {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 150px 10px;
    background-color: #fff;

    & .shapeGray {
        position: absolute;
        width: 30%;
        bottom: -30%;
        left: 65%;
        transform: rotate(25deg);
        opacity: .5;
    }

    .about__photo {
        width: 100%;
        min-width: 25vw;
        height: auto;
        z-index: 2;
    }
    .about__img {
        position: relative;
        z-index: 2;
        
    }
    .about__img:before {
        display: block;
        content:'';
        position: absolute;
        top: 3%;
        width: 90%;
        height: 100%;
        left: -2%;
        z-index: 1;
        border: 15px solid $second-color;
       // background-color: rgb(61, 61, 61);
    }
    .about__info {
        margin-left: 25px;
        font-size: 1.2vw;
        width: 50%;
    }
    .about__title {
        font-size: 4vw;
        color: $second-color;
        & span {
            color: $first-color;
            background-color:$second-color;
            padding-right: 40px;
        }
    }
    .about__list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .about__list span {
        text-align: left;
        cursor: pointer;
    }
    .about__list span:hover i {
        animation: shakeIcons .3s 4 linear alternate;
    }
    .about__list span i {
        margin: 14px 0px;
        margin-right: 20px;
        font-size: 2.5vw;
        color: $first-color;
        
    }
}
